<div class="window">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <div class="notice">
        <h1 id="notice"><%= notice %></h1>
      </div>
    </div>
  </div>
  <h1 class="title-product">Questions</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="container">
          <div class="spacedown">
            <div class="centerify">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="faq-field">
                    <h1 class="question">1. How I can form my list of items that I want to buy?</h1>
                    <p class="answer">It will automatically form when you'll add any product.</p>
                  </div>
                  <div class="faq-field">
                    <h1 class="question">2. When I form my cart what I must do if I want to order my items?</h1>
                    <p class="answer">There is a special menu for creating an order.</p>
                  </div>
                  <div class="faq-field">
                    <h1 class="question">3. How I would know that my order have been created?</h1>
                    <p class="answer">You'll receive a special message.</p>
                  </div>
                  <div class="faq-field">
                    <h1 class="question">4. How I can see a new production?</h1>
                    <p class="answer">It is viewed in slider at the main page.</p>
                  </div>

                </div>
                <div class="col-md-2"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>

    </div>
  </div>
</div>
