<% if notice %>
<div class="centerify">
  <div class="spacedown">
        <div class="row">
          <div class="col-md-9">
          </div>
          <div class="col-md-3">
            <div class="notice">
              <h1><%= notice %></h1>
            </div>
          </div>
        </div>
  </div>
</div>
<% end %>

<%= render(@cart) %>


