// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {

  background-image: url('4.jpg');

  #header .container-fluid {
    background-image: url('menu_1.png');
  }

  .window .container-fluid {
    background-image: none;
    border: 0;

    .row {
      margin-top: 0;
      margin-bottom: 0;
    }

    .row .row {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .window .container {
    background-image: url('0.jpg');
    background-repeat: round;
    border:2px;
    border-color:#000;
    border-style:solid;
    min-height:200px;
    margin:25px 0;
  }

  .notice {
    background-image: url('menu_1.png');
    opacity: 0;
    position: fixed;

    h1 {
      text-align: center;
      color: #000;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .title{
    text-align:left;
    font-size:24px;
    margin:20px 50px 0 50px;
  }

  .info{
    text-align:left;
    margin:10px 50px;
    white-space: pre-line;
    height: 10em;
    line-height: 1em;
    overflow: hidden;
  }

  .title-product{
    text-align:center;
    margin:10px 0 0 0;
  }

  .article-image{
    margin:15px 0;
  }

}
