// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders{
  background-image:url('0.jpg');

  #header .container-fluid {
    background-image: url('menu.png');
  }

  .window .container-fluid{
    background-image:none;
    border:0;
  }

  .container .col-md-6{
    padding-left:35px;
    padding-right:35px;
  }

  .container-fluid .container {
    background-image: url('4.jpg');
    background-repeat: round;
    border:2px;
    border-color:#000;
    border-style:solid;
    min-height:400px;
    height:100%;
  }

}

.container{
  width:100%;
  padding:0;
}

.row{
  width:100%;
  padding:0;
  margin-left:0;
  border:0px;
  margin-top:15px;
  margin-bottom:15px;
  vertical-align: middle;
}

img{
  max-height:256px;
  max-width:256px;
}
.image {
  border-right-style:solid;
}

.image img{
  max-width:128px;
  max-height:128px;
  margin-left:25px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.title{
  font-size:32px;
  font-style:italic;
}

.space{
  padding-left:15px;
}

.price{
  text-align: right;
  font-size:16px;
  font-weight: bold;
  margin-right:10px;
}

.window .price{
  margin-top:25px;
}


  legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
    border-color:#000;
  }

form {
  label{
    vertical-align: top;
    color:#000;
    margin-right:16px;
  }
  br {
    display: none
  }
  .actions{
    text-align:right;
    margin-right:7px;
  }
  .field{
    padding-bottom:25px;
  }
  textarea{
    min-height:141px;
    resize:none;
  }
}







