<div class="window">
<div class="centerify">
  <div class="container-fluid">
<div class="spacedown">
    <h1>Editing Product</h1>
</div>

<%= render 'form1' %>

    <div class="buttons">
        <h1>
            <%= link_to 'Show', @product %> |
            <%= link_to 'Back', products_path %>
        </h1>
      </div>
</div>
  </div>
</div>